        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /* font-family:; */
        }

        .container-wrapper {
            padding: 10px;
        }

        .heading {
            display: flex;
            background-color: white;
            color: #171818;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            text-align: center;
            margin: 0px;
            height: 60px;
            border: solid 2px grey;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            /* background: linear-gradient(135deg, #3498db, #e74c3c); */
            animation: gradientAnimation 5s infinite alternate; /* Adjust the animation duration and other properties */
    /* Add other styles as needed */
             
        }
        .stat img
        {
            width:50px;
           margin-left:1200px;
        }

        .box3 {
            display: flex;
            flex-direction: row;
            background-color: rgb(212, 196, 196);
        }

        .box1 {
            width: 15%;
            height: 1500px;
            padding: 10px;
            background-color: #001220;;
            box-shadow: 0 4px 8px rgba(14, 58, 85, 5.7);
        }
        .qual{
            color:#999;
        }
        .box1 h3{
            margin-left:40px;
        }
        .box1 img {
            margin-left: 45px;
        }

        .box2 {
            width: 85%;
            height: 1500px;
            /* background-color: rgb(229, 221, 221); */
            /* background-image: url('layered-waves-haikei.svg'); */
        }

        /* Adjusted styles for .box5 */
        .box5 {
            width: 98%;
            height: 30%;
            background-color: white;
            display: flex;
            justify-content: right;
            /* Align to the left */
            align-items: flex-start;
            /* Align to the top */
            margin: 7px 3px 3px 7px;
        }

        h1 {
            text-align: center;
        }

        h3 {
            margin: 5px;
            font-weight: bold;
        }

        .ctc {
            margin-top: 50px;
            /* margin-left:60px; */
            margin-right: 20px;
            list-style: none;
            color: #1a1717;
            padding: 0;
            font-size: 20px;
            width: 350px;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.32);
        }
        .ctc li {
            margin: 20px 0;
            padding: 10px;
        }

        .bar {
            background-color: #353b48;
            display: block;
            height: 20px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.32);
            transition: width all 0.3s cubic-bezier(.25, 8, .25, 1),
                box-shadow 0.3s cubic-bezier(.25, 8, .25, 1);
        }

        .bar:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        .bar span {
            height: 20px;
            float: left;
            background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%)
        }

        .more10lpa {
            width: 90%;
            animation: more10lpa 3s;
        }

        .more20lpa {
            width: 30%;
            animation: more20lpa 3s;
        }

        .more30lpa {
            width: 60%;
            animation: more30lpa 3s;
        }

        @keyframes more10lpa {
            0% {
                width: 0%;
            }

            100% {
                width: 90%;
            }
        }

        @keyframes more20lpa {
            0% {
                width: 0%;
            }

            100% {
                width: 30%;
            }
        }

        @keyframes more30lpa {
            0% {
                width: 0%;
            }

            100% {
                width: 60%;
            }
        }
        .students{
            padding:10px 10px 10px 50px;
            position:relative;
            display:flex;
            flex-direction: column;
            gap:30px;
            background-color: white;
            margin: 7px 3px 3px 7px;
            height:65%;
        }
        .students .stud{
            position:relative;
            width:800px;
            height:100px;
            background-color: white;
            cursor:pointer;
            transition: 0.5s ease-in-out;
            box-shadow:10px 10px 15px rgba(0, 0, 0, 0.25);
           
        }
        .students .list .stud:nth-child(1)
        {
            transform: translateX(-70px);
        }
        .students .stud:nth-child(3)
        {
            transform: translateX(70px);
        }
        .students:hover .stud:nth-child(1)
        {
            transform: translateX(0);
        }
        .students:hover .stud:nth-child(3)
        {
            transform: translateX(0);
        }
        /**/
        .students .list .stud:nth-child(3)
        {
            transform: translateX(-70px);
        }
        .students .stud:nth-child(5)
        {
            transform: translateX(70px);
        }
        .students:hover .stud:nth-child(3)
        {
            transform: translateX(0);
        }
        .students:hover .stud:nth-child(5)
        {
            transform: translateX(0);
        }
        .students .stud::before{
            content:'';
            position: absolute;
            width:6px;
            height:100%;
            background: var(--clr);
            transition:0.5s ease-in-out;
        }
        .students .stud:hover::before{
            width:100%;

        }
        .students .stud .content{
            position:relative;
            display:flex;
            align-items: center;
            height:100%;
        }
        .students .stud .content .icon{
            position:relative;
            min-width: 100px;
            display:flex;
            justify-content:center;
            align-items: center;
        }
        .students .stud .content .icon ion-icon{
            font-size: 2.5em;
            color:var(--clr);
            transition:0.5s ease in out;
        }
        .students .stud:hover .content .icon ion-icon{
            color:#fff;
        }
        .students .stud .content  h3{
            font-weight: 500;
            color:var(--clr);
            transition: 0.5 ease-in-out;
            margin-bottom: 5px;
        }
        .students .stud .content p{
            font-size: 0.9em;
            color:#999;
            margin-top: 5px;
        }
        .students .stud:hover .content  h3,
        .students .stud:hover .content  p{
            color:#fff;
        }
        .qual{
            /* margin-left:20px;
            padding-bottom: 50px; */
            margin-top:30px;
            display:grid;
            grid-row-gap:5px;
        }
        .ques{
            color:black;
            font-weight:bold;
        }
        .spacer{
            aspect-ratio: 960/300;
            width:100%;
            background-repeat: no repeat;
            background-position: center;
            background-size: cover;
            height:500px;
        }
        .layer1{
            background-image: url('layered-waves-haikei.svg');
        }